<?xml version='1.0'?>
<model>
  <name>darwin</name>
  <version>1.0.0</version>
  <author>
    <name>Taegoo Kim, Bharadwaj Ramesh</name>
    <email>tk375@drexel.edu</email>
  </author>
  <author>
    <name>Philippe Capdepuy</name>
    <email>pc@humarobotics.com</email>
  </author>
  <sdf>urdf/darwin.urdf</sdf>
  <description>
    Describes DarwinOP robot model with camera plugin and accelerometer plugin (hector) for Gazebo
  </description>
</model>
